Source: ros-noetic-dingo-viz
Section: misc
Priority: optional
Maintainer: Tony Baltovski <tbaltovski@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin, ros-noetic-roslaunch <!nocheck>
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-dingo-viz
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-foxy-joint-state-publisher-gui, ros-foxy-rqt-console, ros-foxy-rqt-gui, ros-foxy-rqt-robot-monitor, ros-noetic-dingo-description, ros-noetic-rviz
Description: Visualization launchers and helpers for Dingo.
